

body{
   
    font-family: 'Roboto';
} 

/*jumbotron*/

 
.org-header {
    margin-top: -19px; 
}

.org-jumbotron {
    min-width: 100px;
    width: 100%;
    background: linear-gradient(rgba(107, 99, 255, 0.5), 
    rgba(107, 99, 255, 0.5)), url(../assets/orgs/dsc-header.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 300px;
}

.org-jumbotron:before {
    background:  ;
}

.textbox{
    position: relative;
}

.jumbotron span{
    position: absolute; 
    color: white;
    font-size: 7vw;
    bottom: 0;
    left: 0;
}

/*decriptions*/
#desc1{
    padding-left: 200px;
    font-size: 2.3vw;
    text-indent:-4.5em;

}

#desc2{

    padding-left: 300px;
    font-size: 2.3vw;
    text-indent:-4.5em;
}

#about, #why{
    padding-left: 60px;
    padding-right: 60px;
}

/*button*/
.btn {

    font-size: 17px;
    padding: 20px;
    font-weight: bold;
    background: rgba(37, 29, 157, 0.8);
    border-radius: 8px;
}





 



/* MEDIA QUERIES */
@-ms-viewport {
    width: device-width;
}

@media all and (max-width: 450px) {
    #settings {
      display: none;
    }
}


