

body{
   
    font-family: 'Roboto';
} 

/*jumbotron*/

 
.org-header {
    padding-left: 0;
    padding-right: 0;
    margin-top: -19px;
}

.org-jumbotron {
    min-width: 100px;
    width: 100%;
    background: linear-gradient(rgba(107, 99, 255, 0.5), 
    rgba(107, 99, 255, 0.5)), url(../assets/events/python-header.jpeg);
    background-position: center center;
    background-size: cover;
    height: 280px;
}

.inner-header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.header-name {
    color: white;
    font-weight: 400;
    font-size: 50px;
}

.textbox{
    position: relative;
}

.jumbotron span{
    position: absolute; 
    color: white;
    font-size: 7vw;
    bottom: 0;
    left: 0;
}

/*decriptions*/

#org-motto{
    font-size: 20px;
    text-indent: 4.5em;

}
#org-tags {
    display: inline-flex;
    padding-left: 0;
}
#org-tags li {
    display: block;
    margin-right: 5px;
    padding: 2px 7px;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
}

.details {
    width: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 18px;
}
.left-deet {
    justify-content: flex-start;
}
.ld-1 {
    margin-left: 3rem;
}
.right-deet {
    display: inline-flex;
    text-align: end;
    margin-left: auto;
    margin-right: 3rem;
}
#desc2{

    padding-left: 300px;
    font-size: 2.3vw;
    text-indent:-4.5em;
}

#about, #why{
    padding-left: 60px;
    padding-right: 60px;
}

/*button*/
.btn {

    font-size: 17px;
    padding: 20px;
    font-weight: bold;
    background: rgba(37, 29, 157, 0.8);
    border-radius: 8px;
}





 



/* MEDIA QUERIES */
@-ms-viewport {
    width: device-width;
}

@media all and (max-width: 450px) {
    #settings {
      display: none;
    }
}

@media all and (max-width: 998px) {
    .right-deet {
        margin-right: auto;
    }
    .ld-1 {
        margin-left: auto;
    }
    .ld-2 {
        margin-right: auto;
    }
}


