  <!-- Navigation Bar -->
    <nav class="topnav navbar mb-1">
        <div class="container">
            <a id="sign-in" class="btn ml-auto" data-toggle="modal" data-target="#sign-in-modal">Sign in</a>
        </div>
    </nav>