{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/explore.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <!-- Scripts -->
    <script src="../../scripts/moment.js"></script>
    <script src="../../scripts/bootstrap-datepicker.js"></script>
    <script src="../../scripts/landing.js"></script> 
   <!-- Datetimepicker for Bootstrap 4-->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
{{/section}}

<section>
    <form id ="event_reg" enctype="multipart/form-data" action= "/ad-eventreg" method ="POST">
        <div class="container">
            <div class="box">
                <div class="inner-box">
                    <div class="left-box">
                        <header class="mb-1">
                            <h1>Register an Event</h1>
                        </header>
                        <div class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Event Name</label>
                                        <input type="text" class="invalid-field" id="event-name-field" name = "event_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Venue</label>
                                        <input type="text" class="invalid-field" id="event-venue-field" name="event_venue">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group date", id = 'datetimepicker4' data-target-input ="nearest">
                                            <input type="text" class="form-control datetimepicker-input" id="event-date-field" name = "event_date">
                                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker4').datetimepicker({
                                                format: 'L'
                                            });
                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <div class='input-group date' id ='datetimepicker3' data-target-input="nearest">
                                            <input type='text' class="form-control datetimepicker-input" id="event-time-field" data-target="#datetimepicker3" name = "start_time">
                                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker3').datetimepicker({
                                                format: 'LT'
                                            });
                                        });
                                    </script>
                                </div>
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class='input-group date' id ='datetimepicker3-2' data-target-input="nearest">
                                            <input type='text' class="form-control datetimepicker-input" id="event-time-field" data-target="#datetimepicker3-2" name = "end_time">
                                            <div class="input-group-append" data-target="#datetimepicker3-2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker3-2').datetimepicker({
                                                format: 'LT'
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Tell us about your event </label>
                                <div class='input-group date' id="event-about-field">
                                    <input type ="text" class ="form-control" name = "event_about"> <!--<textarea type='text' class="form-control" id="event-about-field" name = "about_event"></textarea></input>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Things to bring </label>
                                <div class='input-group date' id="event-about-field">
                                    <input type='text' class="form-control" id="event-things-field" name = "things">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>What is the capacity? </label>
                                        <div class='input-group date' id="event-about-field">
                                            <input type='number' class="form-control" id="event-cap-field" name ="capacity">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Select an event tag</label>
                                        <select class="custom-select" name ="event_tag">
                                            <option selected>None</option>
                                            <option value="1">Tech</option>
                                            <option value="2">Design</option>
                                            <option value="3">Education</option>
                                            <option value="4">Lifestyle</option>
                                            <option value="5">Arts</option>
                                            <option value="6">Outdoors</option>
                                            <option value="7">Community Development</option>
                                            <option value="8">Language</option>
                                            <option value="9">Environment</option>
                                            <option value="10">Business</option>
                                            <option value="11">Sports</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Add Event Header </label>
                                <div class="custom-file">
                                        <label class="custom-file-label">Choose</label>
                                        <input type="file" class="form-control custom-file-input" id="event-photo-field" name = 'event_photo'>
                                    </div>
                            </div>
                            <div class= "form-row">
                                <div class = "col-md-6">
                                    <div class="form-group form-check mb-2">
                                        <input type="checkbox" class="form-check-input mt-0" style="height:fit-content;" id="incentives" name ="incentives">
                                        <label class="form-check-label" for="incentives">Are there incentives</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="form-group" id = "incentivesdet">
                                        <label>Enter course codes</label>
                                        <input type="text" class="invalid-field" id="details-incentives" name = "coursecodes">
                                    </div>
                                </div>
                            </div>  
                            <button type="button" id="submit-event" class="custombtn thinbtn mt-0">submit</button>
                        </div>
                    </div>
                    <figure class="right-box">
                        <img src="../../public/assets/partying.svg" id="eventreg-pic" alt="Nook event party">
                    </figure>
                </div>
            </div>
        </div>
    </form>
</section>
