{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../public/css/box.css">
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}

<div class="container">
    <div id="menu">
        <div class= "item box">
            <a href="view-officers" class="inner-box">
                <img src="../../public/assets/people.svg">
                <p>View Officers</p>
            </a>
        </div>

        <div class="item box">
            <a href="ad-eventreg" class="inner-box">
                <img src="../../public/assets/partying.svg">
                <p>Add an Event</p>
            </a>
        </div>
        <div class ="item box">
            <a href="ad-eventview" class="inner-box">
                <img src="../../public/assets/view-event.svg">
                <p>Edit an Event</p>
            </a>
        </div>
        <div class ="item box">
            <a href="member-requests" class="inner-box">
                <img src="../../public/assets/updates.svg">
                <p>Member Requests</p>
            </a>
        </div>
        <div class ="item box">
            <a href="editorg" class="inner-box">
                <img src="../../public/assets/add-content.svg">
                <p>Edit Org Profile</p>
            </a>
        </div>
    </div>
</div>