{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}

<div class="container">
    <div id="menu">
        <div class= "item box">
            <a href="view-officers/{{_id}}" class="inner-box">
                <img src="../../public/assets/people.svg">
                <p>View Officers</p>
            </a>
        </div>

        <div class="item box">
            <a href="ad-eventreg" class="inner-box">
                <img src="../../public/assets/partying.svg">
                <p>Add an Event</p>
            </a>
        </div>
        <div class ="item box">
            <a href="eventlist/{{_id}}" class="inner-box">
                <img src="../../public/assets/view-event.svg">
                <p>Edit an Event</p>
            </a>
        </div>
        <div class ="item box">
            <a href="member-requests/{{_id}}" class="inner-box">
                <img src="../../public/assets/updates.svg">
                <p>Member Requests</p>
            </a>
        </div>
        <div class ="item box">
            <a href="editorg/{{_id}}" class="inner-box">
                <img src="../../public/assets/add-content.svg">
                <p>Edit Org Profile</p>
            </a>
        </div>
    </div>
</div>