{{#section 'head'}}
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}

<div id="container">
    <div id="left">
        <div id="event-panel">
            <h1>Event List</h1>
            <div id="events">
                <div>
                    <h2>Python for Data Science</h2>
                    <h2>Event Name</h2>
                    <h2>Event Name</h2>
                </div>
                <div>
                    <h2>02/13/2020</h2>
                    <h2>04/18/2020</h2>
                    <h2>05/17/2020</h2>
                </div>
            </div>
            
            
        </div>
    </div>
    <div id="right">
        <img src="../../public/assets/view-event.svg" style="height: 85%;">
    </div>
</div>
