{{#section 'head'}}
 <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/box.css">
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}
   
<div class="container inner-box">
    <div id="account-details">
        <div class="profile">
            <img src="../../public/assets/orgs/dsc-icon.png">
            <h1>Developer Student Club Taft</h1>
            <ul>
                <li>tech</li>
                <li>international</li>
                <li>community</li>
                <li>development</li>
                <li>education</li>
                <li>innovation</li>
            </ul>
            <div class="profile-info">
                <a href="member-requests">
                    <h3>120</h3>
                    <p>Members</p>
                </a>
                <a href="view-officers">
                    <h3>32</h3>
                    <p>Officers</p>
                </a>
            </div>
        </div>
    </div>

    <div class="box mt-4" style="background-color: #7c3bff1f;">
        <h1>Member Requests</h1>
        <div class="information" id="request-list">
            <div class="requests">
                <img class="prof-pic" src="../../public/assets/profiles/nook-pic.png">
                <span>
                    <span class="member-name">Robin Reyes</span>
                    <p>1189090</p>
                </span>
                <div class="button-group">
                    <button type="button" class="reqbtn check" style="box-shadow: none">
                        <img src="../assets/accept.png">
                    </button>
                    <button type="button" class="reqbtn reject">
                        <img src="../assets/reject.png">             
                    </button>       
                </div>
            </div>
            <div class="requests">
                <img class="prof-pic" src="../../public/assets/profiles/nook-pic.png">
                <span>
                    <span class="member-name">Michaela Dizon</span>
                    <p>1189090</p>
                </span>
                <div class="button-group">
                    <button type="button" class="reqbtn check">
                        <img src="../assets/accept.png">
                    </button>
                    <button type="button" class="reqbtn reject">
                        <img src="../assets/reject.png">             
                    </button>       
                </div>
            </div>
        <div class="requests">
            <img class="prof-pic" src="../../public/assets/profiles/nook-pic.png">
            <span>
                <span class="member-name">Tom Nook</span>
                <p>1189090</p>
            </span>
            <div class="button-group">
                <button type="button" class="reqbtn check">
                    <img src="../assets/accept.png">
                </button>
                <button type="button" class="reqbtn reject">
                    <img src="../assets/reject.png">             
                </button>       
            </div>
        </div>
        <div class="requests">
            <img class="prof-pic" src="../../public/assets/profiles/nook-pic.png">
            <span>
                <span class="member-name">Tom Nook</span>
                <p>1189090</p>
            </span>
            <div class="button-group">
                <button type="button" class="reqbtn check">
                    <img src="../../public/assets/accept.png">
                </button>
                <button type="button" class="reqbtn reject">
                    <img src="../../public/assets/reject.png">             
                </button>       
            </div>
        </div>
        <div class="requests">
            <img class="prof-pic" src="../../public/assets/profiles/nook-pic.png">
            <span>
                <span class="member-name">Tom Nook</span>
                <p>1189090</p>
            </span>
            <div class="button-group">
                <button type="button" class="reqbtn check">
                    <img src="../assets/accept.png">
                </button>
                <button type="button" class="reqbtn reject">
                    <img src="../assets/reject.png">             
                </button>       
            </div>
        </div>
        <div class="requests">
            <img class="prof-pic" src="../../public/assets/profiles/nook-pic.png">
            <span>
                <span class="member-name">Tom Nook</span>
                <p>1189090</p>
            </span>
            <div class="button-group">
                    <button type="button" class="reqbtn check">
                        <img src="../../public/assets/accept.png">
                    </button>
                    <button type="button" class="reqbtn reject">
                        <img src="../../public/assets/reject.png">             
                    </button>       
                </div>
        </div>
    </div>
</div>
