{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/box.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/cards.css">
{{/section}}

<div class="container inner-box">
    <div class="mt-4" id="account-details">
        <div class="profile">
            <img src="../../public/assets/profiles/patrick.jpg">
            <h1>Kirsten Sison</h1>
            <p>danielle_sison@dlsu.edu.ph</p>
            <h2>I’m a Computer Science Student who likes Animal Crossing and Minecraft.</h2>
        </div>
    </div>
    <div class="box mt-4" style="background-color: #f0f0f0;">
        <div class="mb-3 ml-2 card-menu" id="user-event-list">
            <h1 style="width: 100%;"> My Events</h1>
            
            <div class="month-group">
                <h5 class="month-label">January</h5>
                <div class="card-wrapper information">            
                    <div class="card">
                        <a href="viewevent">
                            <img class="card-img-top img-fluid" src="../../public/assets/events/python-header.jpeg">
                            <div class="card-body">      
                                <span class="org-name">Python for Data Science</span>   
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="viewevent">
                            <img class="card-img-top img-fluid" src="../../public/assets/events/gcp-header.png">
                            <div class="card-body">
                                <span>Intro to Google Cloud Platform</span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="viewevent">
                            <img class="card-img-top img-fluid" src="../../public/assets/events/firebase-header.png">
                            <div class="card-body">
                                <span>Build a CRUD Website With Firebase</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="month-group">
                <h5 class="month-label">February</h5>
                <div class="card-wrapper information">            
                    <div class="card">
                        <a href="viewevent">
                            <img class="card-img-top img-fluid" src="../../public/assets/events/python-header.jpeg">
                            <div class="card-body">      
                                <span class="org-name">Python for Data Science</span>   
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="viewevent">
                            <img class="card-img-top img-fluid" src="../../public/assets/events/gcp-header.png">
                            <div class="card-body">
                                <span>Intro to Google Cloud Platform</span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="viewevent">
                            <img class="card-img-top img-fluid" src="../../public/assets/events/firebase-header.png">
                            <div class="card-body">
                                <span>Build a CRUD Website With Firebase</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
