{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/explore.css">
    <link rel="stylesheet" href="/public/css/cards.css">
    <!-- Scripts -->
    <script src="../scripts/landing.js"></script>
{{/section}}

<!-- Results -->
<h2 class="page-title" style="text-align:center; margin:40px 0;">Search Results</h2>
<section class="pl-5 pr-5 pt-4">
    <div class="container" class="card-wrapper" style="max-width: 960px;">
        <div class="card-menu" id="explore-menu">
            <div class="row">
                {{#if orgs}}
                    {{#each orgs}}
                        <div class="card">
                            <a href="vieworg/{{this._id}}">
                                <img class="card-img-top img-fluid" src="{{this.img}}">
                                <div class="card-body">
                                    <span>{{this.org_name}}</span>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{else}}
                    <p>No orgs found! 😢</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>