{{#section 'head'}}
    <!-- CSS -->          
    <link rel="stylesheet" href="../../public/css/styling.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/cards.css">
{{/section}}

<div class="container inner-box">
    <!-- Account Details -->
    <div class="mt-4" id="account-details">
        <div class="profile">
            <img src="../../public/assets/profiles/patrick.jpg">
            <h1>Kirsten Sison</h1>
            <p>danielle_sison@dlsu.edu.ph</p>
            <h2>I’m a Computer Science Student who likes Animal Crossing and Minecraft.</h2>
        </div>
        <div class="profile-buttons">
            <a id="register-btn" class="custombtn thinbtn mt-2" href="/edit-profile">
                Edit Profile
            </a>
            <a class="custombtn thinbtn" id="logout-btn" style="color:white;">Logout</a>
        </div>
    </div>
    <!-- User Organizations -->
    <div class="box mt-4" style="background-color: #f0f0f0;">
        <h1 class="mb-3 ml-2"> My Organizations</h1>
        <div class="card-wrapper mt-2">
            <div  class="card-menu" id="user-organization-list">
                <div class="row">
                    <div class="card">
                        <a href="vieworg">
                            <img class="card-img-top img-fluid" src="../../public/assets/orgs/dsc-icon.png">
                            <div class="card-body">      
                                <span class="org-name">Developer Student Club Taft</span>   
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="vieworg">
                            <img class="card-img-top img-fluid" src="../../public/assets/orgs/tls-icon.jpg">
                            <div class="card-body">
                                <span>The LaSallian</span>
                            </div>
                        </a>
                    </div>
                        <div class="card">
                        <a href="vieworg">
                            <img class="card-img-top img-fluid" src="../../public/assets/orgs/catch2t22-icon.png">
                            <div class="card-body">
                                <span>CATCH 2T22</span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="vieworg">
                            <img class="card-img-top img-fluid" src="../../public/assets/orgs/archers-icon.png">
                            <div class="card-body">
                                <span>Archers Network</span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="vieworg">
                            <img class="card-img-top" src="../../public/assets/orgs/comet-icon.png">
                            <div class="card-body">
                                <span>DLSU COMET Research Lab</span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="vieworg">
                            <img class="card-img-top img-fluid" src="../../public/assets/orgs/animosquad-icon.jpg">
                            <div class="card-body">
                                <span>Animo Squad</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
