{{#section 'head'}}
<!-- CSS -->
    <link rel="stylesheet" href="../../public/css/box.css">
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}
    
<div class="container inner-box">
    <div id="account-details">
        <div class="profile">
            <img src="../../public/assets/orgs/dsc-icon.png">
            <h1 id="org-name">Developer Student Club Taft</h1>
            <ul id="org-tags">
                <li>tech</li>
                <li>international</li>
                <li>community</li>
                <li>development</li>
                <li>education</li>
                <li>innovation</li>
            </ul>
            <div class="profile-info">
                <div href="member-requests">
                    <h3 id="member-count">98</h3>
                    <p>Members</p>
                </div>
                <div>
                    <h3 id="officer-count">14</h3>
                    <p>Officers</p>
                </div>
                <div>
                    <h3 id="officer-count">1</h3>
                    <p>Years Active</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box mt-4" style="background-color: #f0f0f0;">
        <h5 class="mb-3 ml-2" >Officers</h5>
        <div class="information card-wrapper" id="officer-list">
            <div class="officer">
                <a href="user-profile">
                    <img src="../../public/assets/profiles/froggy-pic.png">
                    <h1>Froggy Chair</h1>
                    <p>Creatives Associate</p>
                </a>
            </div>
            
            <div class="officer">
                <a href="user-profile">
                    <img src="../../public/assets/profiles/nook-pic.png">
                    <h1>Tom Nook</h1>
                    <p>Externals Associate</p>
                </a>
            </div>
            <div class="officer">
                <a href="user-profile">
                    <img src="../../public/assets/profiles/froggy-pic.png">
                    <h1>Froggy Chair</h1>
                    <p>Creatives Associate</p>
                </a>
            </div>
            <div class="officer">
                <a href="user-profile">
                    <img src="../../public/assets/profiles/nook-pic.png">
                    <h1>Tom Nook</h1>
                    <p>Externals Associate</p>
                </a>
            </div>
            <div class="officer">
                <a href="user-profile">
                    <img src="../../public/assets/profiles/froggy-pic.png">
                    <h1>Froggy Chair</h1>
                    <p>Creatives Associate</p>
                </a>
            </div>
            <div class="officer">
                <a href="user-profile">
                    <img src="../../public/assets/profiles/nook-pic.png">
                    <h1>Tom Nook</h1>
                    <p>Externals Associate</p>
                </a>
            </div>
        </div>
    </div>
</div>
