/* Custom Website Boxing! */
* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.topnav {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: center;
 }

 .custom-navbar {
     position: fixed;
     width: 100%;
     box-sizing: border-box;
     padding: auto;
     background-color: #3333cc;
     z-index: 2;
    backdrop-filter: saturate(180%) blur(20px); 
 }

 .nav-content {
    max-width: 1132px;
    display: inline-flex;
    margin: auto;
    width: 100%;
}

.nav-logo {
    margin: auto 10px;
    margin-right: 42px;
}

.nav-items {
    right: 0;
    height: 42px;
    max-width: 70%;
    max-height: 70%;
    display: flex;
    align-items: center;
}

.nav-items ul {
    padding-left: 0;
    margin-bottom: 0;
    height: 24px;
}

.nav-items li {
    display: inline;
    padding-right: 3px;
}

.topnav li a {    
    color: black;
    text-decoration: none;
    text-align: right;
    margin-left: .5em;
}

.nav-logo a {
    font-family: 'Roboto';
    font-weight: 700 !important;
    font-size: 20px !important;
    color: white;
    text-decoration: none;
}

.topnav svg path {
    fill:white;
}

.topnav svg path:hover{
    fill: yellow;
}

.custom-container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    padding:1em;
    box-sizing: border-box;
    display: block;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
}

.inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.right-box {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    padding: 10px;
    text-align: left;
    color: #3a3a3a;
    align-content: center;
}

.left-box {
    padding: 10px;
    width: 600px;
}

.form-group label { 
    font-weight:600;
    font-size:14px;
    margin-bottom:8px;
    color:#3e332e
}

.custombtn {
    color: white;
    background: #3a3a3a;
    display: inline-block;
    margin-top: 15px;
    font-family: Roboto;
    font-size: 15px;
    padding: 15px 50px;
    letter-spacing: 0;
    border-radius: 2px;
    font-weight: 700;
    text-decoration: none;
}

.thinbtn {
    font-weight: 700;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 40px;
}

/*search bar css*/
.navbar .form-inline {
    display: none;
    margin: auto;
}

.has-search {
    margin-bottom: 0;
}

.has-search .form-control {
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 48, 48);
    padding-left: 2.375rem;
    width: 350px;
    text-align: center;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: black;
}

.fa.fa-search.form-control-feedback {
    background:#5d02f05d;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-title {
    font-family: 'Roboto';
    font-weight: 700;
    width: 100%;
    color: black;
    font-size: 32px;
}

.signup-or {
    padding: 0px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
@media all and (max-width: 610px) {
    #settings {
      display: none;
    }
    .nav-logo {
        margin-right: 30px;
    }
}
@media all and (max-width: 590px) {
    #planner {
      display: none;
    }
    .nav-logo {
        margin-right: 15px;
    }
}
