
.card-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card img {
     height: 170px;
     max-width: 170px;
     object-fit: cover;
     border: .8px solid #acacac;
}

.card img:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.card {
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    background-color: transparent;
}

.card:hover {
    transform: scale(1.1);
}

.card-body {
    max-width: fit-content;
    padding: 5px 10px 10px 0px;
}

.card-menu a{
    font-weight: 300;
    font-size: auto;
    color: #3a3a3a;
    text-decoration: none;
}