
body {
    background-image: url('../assets/watercolour.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f9f2ff;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.topnav {
    width: 100%;
    height: 60px;
    box-sizing: border-box; 
}

#sign-in {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #3a3a3a;
}

.modal-dialog {
    width: 75%;
}

.modal-content {
    border-color: transparent;
    border-radius: 27px;
}

.modal-box {
    height: fit-content;
    background-color: white;
    border-radius: 27px;
    width: max-content;
}

.modal-right header {
    width: 100%;
}

.modal-right {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 10px;
    color: #3a3a3a;
    align-content: center;
    justify-content: center;
}

.description {
    width: 325px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 80px;
    line-height: 0.7;
}

h5 {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

#landing-pic {
    width: 600px;
    height: auto;
}

.modal-pic {
    width:400px;
    height: auto;
}

.custombtn:hover {
    background: #b38ad8;
    color: #521e80;
    text-decoration: none;
}
.close {
    width: 100%;
    margin-left: 95%;
}

#sign-in-modal input {
    margin-right: 14%;
    width: 72%;
}

.sign-in-btn-set {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

.google-sign-in {
    width: min-content;
}

#get-started-modal .form-group input, 
#get-started-modal .form-group select {
    font-size: 14px;
    height:32px;background:#fff;
    box-sizing:border-box;
    border-radius:4px;
}

#sign-in-modal .input-group-prepend {
    margin-left: 14%;
    z-index: 1;
}

input {
    font-family: FontAwesome, Roboto;
}

.mod-header {
    display: inline-block;
}

/* MEDIA QUERIES */
@-ms-viewport {
    width: device-width;
}

@media (max-width: 992px) {
    .modal-box{
        width: auto;
    }
}