

body {
    display: block;
    font-family: 'Roboto';
} 

h5 {
    font-size: 26px;
}

.box {
    background-color: #ede756;
    max-width: 100%;
    margin: auto;
    padding: 30px 130px;
    border-radius: 4px;
}

/*jumbotron*/
.org-header {
    padding-left: 0;
    padding-right: 0;
    margin-top: -19px;
}

.custom-jumbotron {
    min-width: 100px;
    width: 100%;
    height: 235px;
}

#org-header-pic {
    background-position: center center;
    background-size: cover;
}

#event-header-pic {
    background: linear-gradient(rgba(107, 99, 255, 0.5), 
    rgba(107, 99, 255, 0.5)), url(../assets/events/python-header.jpeg);
    background-position: center center;
    background-size: cover;
}

.inner-header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.header-name {
    color: white;
    font-weight: 400;
    font-size: 50px;
}

.textbox {
    position: relative;
}

.jumbotron span {
    position: absolute; 
    color: white;
    font-size: 7vw;
    bottom: 0;
    left: 0;
}

/*decriptions*/
.right-box {
    width: 555px;
    max-width: 600px;
    align-content: unset;
}

#org-motto{
    font-size: 20px;
    text-indent: 4.5em;
}

#org-tags, 
#event-tags {
    display: inline-flex;
    padding-left: 10px;
    margin-bottom: 0;
}

#org-tags li, 
#event-tags li {
    display: block;
    margin-right: 5px;
    padding: 2px 7px;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
}

.details {
    background: #6200EA;
    color:white;
    width: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.left-deet {
    justify-content: flex-start;
}

.ld-1 {
    margin-left: 2rem;
}

.right-deet {
    display: inline-flex;
    text-align: end;
    margin-left: auto;
    margin-right: 2rem;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.color {
    background-color: rgba(167, 208, 255, 0.5);
}

#about, #why, .color {
    max-width: 500px;
    height: fit-content;
    border-radius: 5px;
    padding: 40px 40px;
    color: #3A3A3A;
}

.sub-desc {
    font-size: 15px;
}

.org-stats {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: inherit;
    color: #3A3A3A;
}

.stat-item {
    display: block;
    width: fit-content;
    margin-left: 5px;
}

.stat-item span {
    font-size: 10px;
}

.stat-count {
    font-size: 32px;
    font-weight: 100;
    height: 40px;
    margin-bottom: 0;
    vertical-align: text-bottom;
    text-align: center;
}

#organizer-icon {
    height: 34px;
    width: auto;
    border-radius: 50%;
}

#organizer-name {
    text-decoration: none;
    color: #3A3A3A;
}

.organizer {
    margin-left: 2rem;
}

.event-info {
    display: block;
    width: inherit;
}

.custombtn {
    margin: auto;
}

.modal-p {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: #3A3A3A;
}

/* MEDIA QUERIES */
@-ms-viewport {
    width: device-width;
}

@media all and (max-width: 450px) {
    #settings {
      display: none;
    }
}

@media all and (max-width: 1200px) {
    .right-deet, .ld-2, .odeet {
        margin-right: auto;
    }
    .ld-1 {
        margin-left: auto;
    }
    .right-deet {
        margin-top: 5px;
    }
    .event-info, .event-info p, .organizer {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }
    .ei-left{
        margin-left: 0;
    }
}

textarea {
    height: 220px;
    width: 420px;
    border-radius: 6px;
    border: none;
    word-wrap: break-word;
    box-shadow: 0 0 6px #888888;
}

/* EDIT THIS OK */
#time, 
#edit-field, 
#edit-field {
    width: 350px;
    height: 35px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 6px #888888;
    margin: 10px;
    margin-left: 0;
    padding-left: 10px;
}

#save-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 40px;
    
    margin-top: 20px;
    color: #3a3a3a;
    font-weight: 600;
    background-color: #f0f0f0;
    box-shadow: 0 0 6px #888888;
}

#date {
    width: 170px;
}

#time {
    width: 130px;
}