.ui-autocomplete.ui-menu {
    z-index: 3000 !important;
    font-size: 14px !important; 
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ced4da !important;
    border-bottom-left-radius: 4px!important;
    border-bottom-right-radius: 4px !important;
}

.ui-menu .ui-menu-item-wrapper:hover, 
.ui-menu .ui-menu-item-wrapper.ui-state-active {
   font-weight: bolder;
   color: rgb(34, 34, 34);
}

.ui-helper-hidden-accessible{
    display:none !important;
}

ul.ui-autocomplete {
    position: fixed;
    top: 100%;
    left: 0;
    padding-left: 2rem;
    display: block;
    min-width: 160px;
    max-width: 350px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
}

li.ui-menu-item {
    padding:2 0.5em;
    line-height:2em;
    font-size: 16px;
}

.google-button {
    height: 38px;
    border: 1px solid blue;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
  }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 3px 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  .google-button__icon--plus {
    width: 27px;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    background: #3e74ec;
    color: white;
    padding: 8px 24px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }