.ui-autocomplete.ui-menu {
    z-index: 3001 !important;
    font-size: 14px !important; 
    border: 1px solid #ced4da !important;
    border-bottom-left-radius: 4px!important;
    border-bottom-right-radius: 4px !important;
}

.ui-menu .ui-menu-item-wrapper:hover, 
.ui-menu .ui-menu-item-wrapper.ui-state-active {
    color: rgb(58, 2, 50);
    border: #ced4da 1px solid !important;
    border-radius: 4px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

ul.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    padding-left: 0;
}

li.ui-menu-item {
    padding:2 0.5em;
    line-height:2em;
    font-size: 16px;
}

